section {
    margin: 125px 20px 20px 125px;
    padding: 10px 0px 10px 250px;
    width: 1200px;
}

#result {
    font-size: 50px;
    padding-bottom: 20px;
}

#post {
    font-size: 30px;
    padding-bottom: 10px;
}

#author {
    font-size: 22px;
}

#body {
    font-size: 25px;
}