.carousel {
    /* margin-left: 400px; */
    top: 50px;
    left: 175px;
}

.page-text {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
    margin: 0px 10px 10px 350px;
    
}

.box {
    width: 350px;
    outline: 1px solid black;
    padding: 20px 20px;
    text-align: left;
    border-radius: 20px;
    margin: 0px 10px;
}

.wayfarer {
    margin: 80px 0px 20px 750px;
}
