<app-carousel class="carousel"></app-carousel>

<section>
    <h3 class="wayfarer">Wayfarer is...</h3>
    <div class="page-text">
        <div class="box">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Vivamus arcu felis bibendum ut tristique. Scelerisque viverra mauris in aliquam sem fringilla.
        </div>
        <div class="box"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Vivamus arcu felis bibendum ut tristique. Scelerisque viverra mauris in aliquam sem fringilla.
        </div>
        <div class="box">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Vivamus arcu felis bibendum ut tristique. Scelerisque viverra mauris in aliquam sem fringilla. 
        </div>
    </div>
</section>

